*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 4rem auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

h2 {
    margin-bottom: 1.1rem;
}

.input-field {
    padding: 0.5rem;
    width: 250px;
    margin-bottom: 1.1rem;
    border-radius: 2px;
    border: 1px solid lightblue;
}

.btn {
    margin-bottom: 1.1rem;
    width: 150px;
    padding: 0.4rem;
    background-color: deepskyblue;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 400;
}
.alert {
    display: none;
}

.deliver-message {
    list-style: none;
    font-size: 1.4rem;
    color: cornflowerblue;
}